@media (max-width: 767.98px) {
  .row {
    height: auto !important;
  }
  #map-container {
    /* A altura agora é controlada via JavaScript */
  }
  aside {
    height: auto !important;
  }
}
.ocultar {
  display: none !important;
}


#toggle-info-btn {
  position: absolute;
  top: 10px;
  left: 50px; /* Deslocado para a direita para não sobrepor os controlos de zoom */
  z-index: 401; /* Garante que o botão fique acima dos controles do mapa Leaflet */
}

#legendaRisco .list-group-item {
  cursor: pointer;
  transition: background-color 0.2s;
}

#legendaRisco .list-group-item:hover {
  background-color: #f0f0f0;
}

#legendaRisco .list-group-item.active {
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}
